<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" media="screen" type="text/css" href="~/Content/MyStyles.css" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
</head>



<body>          
                <div id="top-nav-bg">
                    <div id="top-nav">
                        <!-- start top navigation bar -->
                        <ul>
                            <li><a href="http://www.webaddresshere.com">Home</a></li>
                            <li><a href="http://www.webaddresshere.com">Products</a></li>
                            <li><a href="http://www.webaddresshere.com">Services</a></li>
                            <li><a href="http://www.webaddresshere.com">Portfolio</a></li>
                            <li><a href="http://www.webaddresshere.com">About Us</a></li>
                            <li><a href="http://www.webaddresshere.com">Contact</a></li>
                            <li><a style="background-image: none;" href="http://www.webaddresshere.com">Support</a></li>
                        </ul>
                        <!-- end top navigation bar -->
                    </div>
                </div>
           
         
    <div>
        @RenderBody()
    </div>




</body>
</html>
